.add-product-form{
    width: 30vw;
    height: 40vh;
    margin-left: 35%;
    margin-top: 15%;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
}
.add-product-form input{
    display: flex;
    flex-direction: column;
    background: #eee;
    border: none;
    border-radius: 8px;
    height: 4vh;
    width: 30vw;
    margin-bottom: 2%;
}

.flex-input{
    display: flex;
}
.flex-input input{
    width: 14vw;
}
.right-input{
    margin-left: 6%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.dismiss{
    height: 5vh;
    width: 10vw;
    border: 1px solid #f36566;
    border-radius: 8px;
    background: #ffffff;
    color: #f36566;
}
.add-product{
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 8px;
    background: #f36566;
    color: #ffffff;
}