.dashboard, .dashboard-top, .dashboard-bottom{
    display: flex;
}
.dashboard-section {
    margin-left: 3%;
}
h1, h2{
    text-align: left;
}
.card {
    height: 20vh;
    width: 20vw;
    border-radius: 5px;
    box-shadow: rgba(161, 82, 82, 0.1) 10px 5px 5px 10px;
    margin-right: 5%;
}
.bell{
    height: 3vh;
    margin-right: 1%;
}
.lower-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25vh;
    width: 20vw;
    padding: 0.7em;
    border-radius: 5px;
    box-shadow: rgba(161, 82, 82, 0.1) 10px 5px 5px 10px;
    margin-right: 3%;
    font-size: 12px;
}
.column{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .dashboard-top, .dashboard-bottom{
        flex-direction: column;
    }
    .card, .lower-card{
        width: 82vw;
        margin-left: 5%;
        margin-top: 5%;
    }
    .orders-top input, .clients-top input,
    .products-top input{
        width: 40vw;
    }
    .orders-top button, .clients-top button{
        width: 20vw;
    }
    .table{
        position: absolute;
        overflow-x: scroll;
    }
}