.bx--side-nav__item{
    margin-top: 10%;
}
ul{
    list-style-type: none;
}
a.bx--side-nav__link[aria-current='page']{
    background-color: #f56366;
}
.bx--side-nav__navigation{
    z-index: 0;
    border-right: 1px solid #000000;
    width: 20%;
    height: 97vh;
    padding: 0.5em;
}
.bx--side-nav__link{
    margin-bottom: 5%;
}
.bx--side-nav__menu-item{
    padding: .1em;
}
svg{
    display: none;
}
.nav-icon{
    margin-right: 1em;
}
@media only screen and (max-width: 640px){
    .sidenav{
        display: none;
    }
}