.products{
    display: flex;
}
.products-section{
    margin-left: 3%;
    width: 80%;
}
.product-top{
    display: flex;
    justify-content: space-between;
}
.product-top input{
    height: 5vh;
    width: 20vw;
    background: #eee;
    border: none;
    border-radius: 8px;
}
input::placeholder{
    padding-left: 1em;
}
.product-buttons{
    margin-left: 40%;
}
.product-top button{
    background: #f36566;
    color: #ffffff;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 8px;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: auto;
}