.orders{
    display: flex;
}
.orders-section {
    margin-left: 3%;
    width: 80%;
    justify-content: space-between;
}
.orders-top input{
    height: 5vh;
    width: 20vw;
    background: #eee;
    border: none;
    border-radius: 8px;
}

.orders-top button{
    background: #f36566;
    color: #ffffff;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 8px;
}
table{
    width: 95%;
    margin-top: 5%;
}
th{
    background: #eee;
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }